.comp-section-01 {
  padding: 96px 0;
  /* The snackbar - position it at the bottom and in the middle of the screen */
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  /* Animations to fade the snackbar in and out */
}

.comp-section-01 .comp-micro-01 > .c-item-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-section-01 .comp-micro-01 > .c-item-01 span {
  margin-left: 16px;
}

.comp-section-01 .comp-micro-01 > .c-item-02 {
  margin: 24px 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #221f44;
}

.comp-section-01 .comp-micro-01 > .c-item-03 .form-group-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.comp-section-01 .comp-micro-01 > .c-item-03 .form-group-01 input {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  border: 1px solid #d7d5e1;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #221f44;
}

.comp-section-01 .comp-micro-01 > .c-item-03 .form-group-01 input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a19eb4;
}

.comp-section-01 .comp-micro-01 > .c-item-03 .form-group-01 label {
  width: 100%;
  margin-bottom: 8px;
}

.comp-section-01 .comp-micro-01 .btn-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 44px;
  background: #e94034;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.comp-section-01 .snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #5cb85c;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  top: 120px;
  /* 30px from the bottom */
}

.comp-section-01 .snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/*# sourceMappingURL=Section01.css.map */